<?xml version="1.0" ?>

<robot name="tube">

	<link name="up">    
	    <visual>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="../../../simulations/meshes/tubes/12x17/up.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="../../../simulations/meshes/tubes/12x17/up.obj" scale="0.001 0.001 0.001"/>
                <scale value="0.001"/>
            </geometry>
        </collision>
	</link>

	<joint name = "up_to_tube" type = "fixed">
		<origin xyz = "0.0 0.0 0.0" rpy = "0 0 0"/>
		<parent link = "up"/>
		<child link = "tube"/>
	</joint>

	<link name="tube">
		<fem>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<density value="1e3"/>
			<youngs value="1552230.93"/>
			<poissons value="0.31645428"/>
			<damping value="0.0"/>
			<attachDistance value="1e-5"/>
			<tetmesh filename="../../../simulations/meshes/tubes/12x17/sparse/tube.tet"/>
			<scale value="0.001"/>
		</fem>
	</link>

    <joint name = "down_to_tube" type = "fixed">
		<origin xyz = "0.0 0.0 0.0" rpy = "0 0 0"/>
		<parent link = "tube"/>
		<child link = "down"/>
	</joint>

    <link name="down">    
	    <visual>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="../../../simulations/meshes/tubes/12x17/down.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="../../../simulations/meshes/tubes/12x17/down.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
	</link>

</robot>
