<?xml version="1.0" ?>

<robot name="tube">

    <!-- <link name="world1">
    </link>
    <link name="world2">
    </link>

    <joint name="world1_to_down" type="prismatic">
        <parent link="world1"/>
        <child link="down"/>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <axis xyz="0 1 0"/>
        <dynamics damping="0.0" friction="0.0"/>
        <limit lower="0.0" upper="0.1" velocity="1e9" effort="1e9"/>
    </joint>

    <joint name="up_to_world2" type="prismatic">
        <parent link="up"/>
        <child link="world2"/>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <axis xyz="0 1 0"/>
        <dynamics damping="0.0" friction="0.0"/>
        <limit lower="0.0" upper="0.1" velocity="1e9" effort="1e9"/>
    </joint> -->

    <link name="up">    
	    <visual>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="../../meshes/tubes/64x80/up.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="../../meshes/tubes/64x80/up.obj" scale="0.001 0.001 0.001"/>
                <scale value="0.001"/>
            </geometry>
        </collision>
	</link>

    <joint name = "up_to_tube" type = "fixed">
		<origin xyz = "0.0 0.0 0.0" rpy = "0 0 0"/>
		<parent link = "up"/>
		<child link = "tube"/>
	</joint>

    <link name="tube">
		<fem>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<density value="1000.0"/>
			<youngs value="500000000.0"/>
			<poissons value="0.31645428"/>
			<damping value="0.0"/>
			<attachDistance value="1e-5"/>
			<tetmesh filename="../../meshes/tubes/64x80/sparse/tube.tet"/>
			<scale value="0.001"/>
		</fem>
	</link>

    <joint name = "tube_to_down" type = "fixed">
		<origin xyz = "0.0 0.0 1.0" rpy = "0 0 0"/>
		<parent link = "tube"/>
		<child link = "down"/>
	</joint>

    <link name="down">    
	    <visual>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="../../meshes/tubes/64x80/down.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="../../meshes/tubes/64x80/down.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
	</link>

</robot>